html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
.AheadImage {
    height: 350px;
    background-size: 100% auto;
    background-image: url(../img/head.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}


.AheadImageInfo {
    float: right;
    text-align: center;
    margin-right: 120px;
    clear: left;
    width: 25%;
}

.whiteText {
    color: white;
}

.AheadImageInfo p {
    color: #000;
}
